* {
    margin: 0;
}

:root {
    --principal-color: #486F8C;
    --azul-secundario: #2C456B;
    --color-oscuro:#3D3F40;
}

.navbar-header {
    position: fixed;
    width: 100%;
    top: 0;
    padding: 5px;
    background-color: var(--principal-color);
}

.navbar__img {
    width: 60px;
    margin-left: 10%;
}

.navbar-right {
    margin: 10px 100px 0 0;
    display: flex;
    float: right;
}

.nav {
    padding: 10px 30px;
    color: #fff;
    font-size: 18px;
    list-style: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}

.sobremi {
    width: 100%;
    height: 900px;
    margin-top: 70px;
    background-color: var(--azul-secundario);
    color: #fff;
}

.sobremi__name {
    padding-top: 70px;
    font-size: 45px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.sobremi__titulo {
    padding-top: 20px;
    font-size: 30px;
    text-align: center;
}

.proyectos {
    width: 100%;
    background-color: var(--color-oscuro);
}

.proyectos--width {
    width: 85%;
    margin: 0 auto;
    padding: 30px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 150px;
}

.proyectos__card {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    height: 310px;
    border-radius: 5px;
    background: #fff;
}

.card__title--project {
    font-size: 30px;
    padding: 15px 0 0 10px;
    border-bottom: 1px solid var(--color-oscuro);
    font-family: 'PT Mono', monospace;
}

.card__technology {
    font-size: 20px;
    padding: 20px 0 0 20px;
    font-family: 'PT Mono', monospace;
    font-weight: 300;
}

.card__cta {
    width: 100%;
    text-align: end;
    margin-top: 20px;
}

.card__btn {
    font-size: 20px;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    margin-right: 5px;
}

.btn__visitar {
    color: var(--principal-color);
    border:1px solid var(--principal-color);
}

.btn__github {
    color: var(--azul-secundario);
    border:1px solid var(--azul-secundario);
    margin-right: 20px;
}

.redes__container {
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    background: var(--principal-color);
}

.redes {
    padding: 12px 50px;
    font-size: 30px;
    color: #fff;
    text-decoration: none;
}
